:root {
  --logored : #f73a6b;
  --logoblue : #3bcce1;
  --logoblack : #2b2d42;
  --themered : #ff4141;
  --themegreen : #40ac4f;
  --themeblue : #4caff6;
  --themeyellow : #ff9938;
  --themepurple : #ab64e8;
  --themeblack : #1d1f30;
  --themegray : #777983;
  --themeinput : #bacbe9;
  --themebg : #F6F9FF;
}
body:has(.PrivetHeader){
  background-color:  var(--themebg)!important;
};
.App {
  text-align: center;
}
a{
  text-decoration: none;
}
.App-logo {
  margin-top: 10vh;
  width: 100%;
  max-width: 500px;
  pointer-events: none;
}
header{
  width: 100%;
}
a.filepond--credits {
  display: none!important;
}



/* map start */
.map-container {
  height: 400px;
}
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  /* font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0; */
  margin: 12px;
  border-radius: 4px;
  }
/* map ends */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
