* {
  margin: 0;
  padding: 0;
}

/* pre {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30%;
  background-color: #fff;
  padding: 10px;
} */

.marker {
  background-image: url('https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
}